.comics {
	display: grid;
	grid-template-columns: repeat(4, 14.06rem);
	grid-auto-rows: 27rem;
	column-gap: 4.19rem;
	row-gap: 3.44rem;
	&__item {
		cursor: pointer;
		width: 100%;
		height: 100%;
		img {
			max-width: 100%;
			height: 21.62rem;
			object-fit: cover;
			background-color: #1a0230;
		}
	}
	&__title {
		margin-top: 0.63rem;
		color: #000;
		font-family: Roboto Condensed;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	&__price {
		color: rgba(0, 0, 0, 0.6);
		margin-top: 0.31rem;
		font-family: Roboto Condensed;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	&__header {
		max-width: 100%;
		background: #232222;
		height: 6.25rem;
		display: flex;
		margin-bottom: 2.81rem;
		align-items: center;
		padding: 0 1.56rem 0 2.81rem;
		gap: 5.19rem;
		p {
			flex: 1 1 100%;
			color: #fff;
			font-family: Roboto Condensed;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
		}
	}
}

.comics-enter {
	opacity: 0;
	transform: translate3d(0, 50px, 0);
}
.comics-enter-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: all 800ms;
}

.comics-exit {
	opacity: 1;
	transform: translate3d(0, 20px, 0);
}
.comics-exit-active {
	opacity: 0;
	transition: all 500ms ease-in;
	transform: translate3d(0, 20px, 0);
}
